*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.chipta {
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    display: flex;
}